<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
<div class = 'pane'>
<p>

<h1>Edit Restaurant</h1>

<form action="{{url_for('editRestaurant', restaurant_id = restaurant_id, item = restaurantToEdit)}}" method='post'>

<h4>Name:</h4>
<input type='text' size='30' name='name' placeholder='{{item.name}}'>

<input type='submit' value='Edit'> 

<a href = '{{url_for('showRestaurants')}}'>Cancel</a>

</form>




</p>
</div>
</body>



</html>	
