<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>
<div class = 'pane'>	
<p>

<h1>Restaurants</h1>


<div class = 'flash'>
<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>

</br></br>
<a href='{{url_for('newRestaurant', restaurant_id = restaurant_id)}}'>CREATE NEW RESTAURANT</a>
</br></br></br></br>

{% for i in restaurants %}

<h2>{{i.name}}</h2>
<a href='{{url_for('showMenu',restaurant_id = i.id)}}'>Menu</a>
</br>
<a href='{{url_for('editRestaurant',restaurant_id = i.id)}}'>Edit Restaurant</a>
</br>
<a href='{{url_for('deleteRestaurant',restaurant_id = i.id)}}'>Delete Restaurant</a>
</br></br></br></br></br>

{% endfor %}


<p>	
</div>
</body>



</html>	
